<html ng-app="quizz-form">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/quizz-form.css">

</head>

<body>
    <div class="main" ng-controller="QuizzController as vm">
        <div class="question">{{vm.questionsList[vm.questionIndex].question.title}}</div>
        <div class="answers">
            <button class="answer col-sm-4" ng-repeat="answer in vm.questionsList[vm.questionIndex].answers" ng-click="vm.submitQuestion(answer)">
                {{answer.content}}
            </button>
        </div>
        <div class="question" ng-if="vm.showQuizz==false">
            Merci pour ton temps, à bientôt
        </div>
    </div>
</body>

</html>